{% extends 'base.html' %}
{% load filtersandtags %}

{% block title %} Обзор {% endblock title %}

{% block content %}
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
        <div class="card card-2">

            {%  for field, info in person.items %}
                {% if field != '_id' %}
                        {% if field == 'main_info' %}
                            <div class="div-hr">
                                <p> {{ info.verbose_name }} </p>
                                <hr class="hr-shadow">
                            </div>
                            <table class="person_table">
                              <tbody>

                              {%  for elem, name in info.attrs %}
                                <tr>
                                  <td class="person_td person_right_td"> {% get_verbose_field_name info elem %} </td>
                                  <td class="person_td">{{ name }}</td>
                                </tr>
                              {%  endfor %}
                        {% endif %}

                      {% if field != 'main_info' %}
                            <div class="div-hr">
                                <p> {{ info.0.verbose_name }} </p>
                                <hr class="hr-shadow">
                            </div>
                            <table class="person_table">
                                <tbody>
                          {%  for index in info %}
                            {% for name_val, value in index.attrs %}
                                <tr>
                                  <td class="person_td person_right_td"> {% get_verbose_field_name index name_val %}</td>
                                  <td class="person_td">{{ value }}</td>
                                </tr>
                            {% endfor %}
                          {%  endfor %}
                      {% endif %}
                      </tbody>
                    </table>
                {% endif %}
            {%  endfor %}
        </div>


    </div>
    <div class="col-2"></div>
</div>


<!-- content -->


{% endblock content  %}